# Dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Production
build/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo
*.iml
.DS_Store
*.sublime-workspace
*.sublime-project

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
.cache/
.temp/
tmp/

# OS files
.DS_Store
Thumbs.db

# Build files
dist-old/
